[submodule "reddit-api"]
	path = reddit-api
	url = git@github.com:ReedMerrill/reddit-api.git
[submodule "waller-anderson-2020-data"]
	path = waller-anderson-2020-data
	url = git@github.com:ReedMerrill/waller-anderson-2020-data.git
[submodule "reddit-toxicity-analysis"]
	path = reddit-toxicity-analysis
	url = git@github.com:ReedMerrill/reddit-toxicity-analysis.git
[submodule "toxicity-writing"]
	path = toxicity-writing
	url = git@github.com:ReedMerrill/toxicity-writing.git
